h1 {
    font-size: 90px;
}
body {
    background: url('../images/exanime.jpg');
    background-repeat: round;
}
#cedula {
    font-size: 20px;
    color:  rgb(85, 238, 20);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo {
    opacity: 40%;
    color: rgb(229, 13, 13);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 90px;
    background-color: rgb(34, 18, 213);
    
}

#imagen-wow {
    margin: 10px;
    border: 1px solid cyan;
    padding: 5px;
    width: 400px;
    height: 250px;
}
.general-box {
   /*  opacity: 80%;
    background-color: black; */
}

.nombre {
    color:blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 10px solid;;
    padding: 15px;
}